<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{translation.PRODUCT_LABEL}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">{{translation.CLOSE_LABEL}}</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="list">
        <label class="item item-input item-stacked-label" focus-me>
          <span class="input-label">{{translation.PRODUCT_LABEL}}</span>
          <input type="text" ng-model="product.name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{translation.PRICE_LABEL}}</span>
          <input type="number" ng-model="product.price">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{translation.UNIT_LABEL}}</span>
          <input type="number" ng-model="product.unit">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{translation.AMOUNT_LABEL}}</span>
          <input type="number" ng-model="product.amount">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{translation.MEASURE_LABEL}}</span>
          <select ng-model="product.measure" ng-options="measure.id as measure.name for measure in measureCollection"></select>
        </label>
        <label class="item item-stacked-label item-toggle">
          <span class="input-label">{{translation.CHECKED_LABEL}}</span>
          <label class="toggle toggle-dark">
              <input type="checkbox" ng-model="product.checked">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="save()">{{translation.SAVE_LABEL}}</button>
        </label>
      </div>
  </ion-content>
</ion-modal-view>
