<!-- ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{translation.LIST_LABEL}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">{{translation.CLOSE_LABEL}}</button>
    </div>
  </ion-header-bar>
  <ion-content -->
      <div class="list">
        <label class="item item-input item-stacked-label"  focus-me>
          <span class="input-label">{{translation.NAME_LABEL}}</span>
          <input type="text" ng-model="list.name">
        </label>
        <!-- label class="item">
          <button class="button button-block button-positive" ng-click="doSave()">{{translation.SAVE_LABEL}}</button>
        </label -->
      </div>
  <!-- /ion-content>
</ion-modal-view -->
