<ion-view view-title="{{translation.LIST_LABEL}}" hide-nav-bar="hasSearch || isHideNavBar">
    <search show-search="hasSearch" filter="query.name" translation="translation"></search>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon ion-plus" ng-click="add()"></button>
        <button class="button button-clear button-icon ion-search" ng-click="showSearch(true)"></button>
    </ion-nav-buttons>
    <ion-content on-scroll="hideNavBar('listScroll')" delegate-handle="listScroll">
        <div class="content" ng-class="{'has-header' : hasSearch}">
    <ion-list> 
        <ion-item class="item-icon-left" ng-class="{'not-syncronized' : isGuest(list)}" ng-repeat="list in filtered=(listCollection | orderBy:'name' | filter:query)" ui-sref="app.productList({id: list._id})">
          <i class="icon ion-document-text"></i>
          <h2>{{list.name}}</h2>
          <span class="badge badge-dark">{{list.totalProducts}}</span>
          <button ng-click="openOptions($event, list._id, isGuest(list))" class="button button-icon ion-android-more-vertical product-options"></button>

          <p ng-show="isGuest(list)">Não sincronizado</p>
        </ion-item>
        <ion-item class="no-items">
        {{translation.NO_RECORDS_FOUND}}
        </ion-item>
    </ion-list>
    </div>
    </ion-content>
</ion-view>