<ion-header-bar class="item-input-inset bar-stable" ng-show="visibility">
    <div class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" id="searchField" placeholder="{{translation.SEARCH_LABEL}}" ng-model="filter">
            <i class="clear-search icon ion-close-circled" ng-click="clear()"></i>
    </div>
    <button class="button button-clear button-small" ng-click="hide(false)">{{translation.CANCEL_LABEL}}</button>
</ion-header-bar>