<div style="margin-top:-10px">
        <label class="item item-floating-label only-border-bottom">
          <span class="input-label">{{vm.translation.USER_LABEL}}</span>
          <input type="text" ng-model="vm.data.user" placeholder="{{vm.translation.USER_LABEL}}" autocorrect="off" autocapitalize="none" autofocus>
        </label>
        <label class="item item-floating-label only-border-bottom">
          <span class="input-label">{{vm.translation.PASSWORD_LABEL}}</span>
          <input type="password" ng-model="vm.data.password" placeholder="{{vm.translation.PASSWORD_LABEL}}">
        </label>
</div>