<ion-content class="menu-outer">
    <div class="row menu-top-options">
        <div class="col col-top">
            <ion-list ng-controller="UserController as vm">
                
                <ion-item class="heading-item" ng-show="vm.isLoadingUser()">
                    <div class="row">
                        <div class="col">
                            <div class="user-image-outer">
                                <div class="avatar rounded-image">
                                    <img class="user-image" avatar-person>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h1 class="greeting"><ion-spinner></ion-spinner>{{vm.translation.LOADING_LABEL}} ...</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="heading-item colored" ng-hide="vm.isLoadingUser() || vm.isGuest()">
                    <div class="row">
                        <div class="col">
                            <div class="user-image-outer">
                                <div class="avatar rounded-image">
                                    <img class="user-image" avatar-person="{{vm.user.avatar}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1 class="greeting">{{vm.user.fullname}}</h1>
                            <p class="message">{{vm.user.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="button" class="btn btn-link" value="sair" ng-click="vm.logout()"/>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="heading-item" ng-show="!vm.isLoadingUser() && vm.isGuest()">
                    <div class="row">
                        <div class="col">
                            <!-- We need a wrapper with width set for the preload image directive -->
                            <div class="user-image-outer">
                                <div class="avatar rounded-image">
                                <img class="user-image" avatar-person>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="button button-block button-small button-positive" ng-click="vm.login()">{{vm.translation.SIGNIN_LABEL}}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="horizontal-line">
                                <span>{{vm.translation.OR_LABEL}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="button button-block button-small button-assertive" ng-click="vm.showSignUp()">{{vm.translation.SIGNUP_LABEL}}</button>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            
            <ion-list>
                <ion-item 
                class="item-icon-left"
                menu-close 
                ng-repeat="route in vm.navRoutes track by $id(route)"
                ui-sref-opts="{location: 'replace'}"
                ui-sref-active="active"
                ui-sref="{{route.name}}">
                    <i class="menu-icon icon" ng-class="route.settings.content.icon"></i>
                    <h2 class="menu-text">{{vm.translation[route.settings.content.text]}}</h2>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <div class="row menu-bottom-options">
        <div class="col col-bottom">
            <ion-list>
                <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.view5">
                <i class="menu-icon icon ion-person-add"></i>
                <h2 class="menu-text">Find Friends</h2>
                </ion-item>
                <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.view6">
                    <i class="menu-icon icon ion-ios-settings-strong"></i>
                    <h2 class="menu-text">{{vm.translation.SETTINGS_LABEL}}</h2>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>