/**
Side Menu 
**/

.pre-img._1_1 {
    width: 100%;
    padding-bottom: 100%
}
.pre-img {
    position: relative;
    background-color: rgba(140, 140, 140, .25)
}
.pre-img.rounded-image {
    border-radius: 50%
}
.pre-img.finish-loading {
    background-color: transparent;
    border: none
}
.pre-img.finish-loading img {
    visibility: visible;
    opacity: 1
}
.pre-img img {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear, opacity .5s linear;
    transition: visibility 0s linear, opacity .5s linear
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@-moz-keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
.spinner-on-load {
    position: absolute;
    font-size: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #FFF;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    top: -webkit-calc(50% - 25px);
    top: calc(50% - 25px);
    left: -webkit-calc(50% - 25px);
    left: calc(50% - 25px)
}
ion-spinner.spinner-on-load {
    -webkit-animation: none;
    animation: none;
    stroke: #FFF;
    width: 28px;
    height: 28px;
    line-height: inherit;
    top: -webkit-calc(50% - 14px);
    top: calc(50% - 14px);
    left: -webkit-calc(50% - 14px);
    left: calc(50% - 14px)
}
.menu-outer {
    background-color: #f1f1f1;
}
.menu-outer ion-item {
    background: 0 0;
    border: none;
    border-bottom: 1px solid rgba(84,83,83,0.2);
}
.menu-outer ion-item .item-content {
    background: 0 0
}
.menu-outer ion-item .item-content.activated {
    border-color: transparent;
    background-color: rgba(137, 100, 75, .2)
}
.menu-outer ion-item.active {
    background: 0 0;
    border-color: rgba(241, 241, 241, .3)
}
.menu-outer ion-item.active .item-content {
    background-color: rgba(5, 4, 3, .1)!important
}
.menu-outer ion-item .menu-icon {
    font-size: 22px;
    margin-top: 2px;
}
.menu-outer ion-item .menu-text {
    margin-left: -5px
}
.menu-outer .heading-item {
    text-align: center;

}
.menu-outer .heading-item.colored {
    border-bottom: 5px  solid rgba(228,227,227,0.4);
    background: -moz-linear-gradient(60deg, rgba(125,227,222,1) 0%, rgba(39,176,162,1) 52%, rgba(16,105,96,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(125,227,222,1)), color-stop(52%, rgba(39,176,162,1)), color-stop(100%, rgba(16,105,96,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(60deg, rgba(125,227,222,1) 0%, rgba(39,176,162,1) 52%, rgba(16,105,96,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(60deg, rgba(125,227,222,1) 0%, rgba(39,176,162,1) 52%, rgba(16,105,96,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(60deg, rgba(125,227,222,1) 0%, rgba(39,176,162,1) 52%, rgba(16,105,96,1) 100%); /* ie10+ */
    background: linear-gradient(30deg, rgba(125,227,222,1) 0%, rgba(39,176,162,1) 52%, rgba(16,105,96,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#106960', endColorstr='#7DE3DE',GradientType=0 ); /* ie6-9 */

}
.menu-outer .heading-item .item-content {
    padding: 16px
}
.menu-outer .heading-item .item-content .row {
    padding-left: 0;
    padding-right: 0
}
.menu-outer .heading-item .user-image-outer {
    width: 25vw;
    margin-left: -webkit-calc((100% - (25vw))/ 2);
    margin-left: calc((100% - (25vw))/ 2);
    margin-right: -webkit-calc((100& - (25vw))/ 2);
    margin-right: calc((100& - (25vw))/ 2)
}
.menu-outer .heading-item .user-image {
    width: 100%;
    border-radius: 50%
}
.menu-outer .heading-item .greeting {
    color: #242424;
    font-size: 18px;
    margin: 0;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 1px
}
.menu-outer .heading-item .message {
    color: #4E4E4E;
}
.menu-outer .menu-bottom-options,
.menu-outer .menu-top-options {
    padding: 0;
    margin: 0
}
.menu-outer .menu-bottom-options .col,
.menu-outer .menu-top-options .col {
    padding: 0
}
.menu-outer .menu-top-options {
    height: 60vh
}
.menu-outer .menu-bottom-options {
    height: 40vh
}
.menu-outer .menu-bottom-options ion-item:first-child {
    border-top: 1px solid rgba(241, 241, 241, .3)
}
.menu-outer .menu-bottom-options ion-item:last-child {
    border-bottom: none
}